body{
    background-color:floralwhite;
    width: 960px;
    margin: auto;
}
.corpo {
    width: 960px;
    margin: auto;
}
.nacionalidade{
    position: relative;
    right: -230px;
    top: -12px;
}
.sexo{
    position: relative;
    top: -8px;
}
.idade{
    position: relative;
    right: -140px;
    top: -30px;
}
.estadoCivil{
    position: relative;
    right: -350px;
    top: -50px;
}
.filho{
    position: relative;
    right: -580px;
    top: -70px;
}
.endereco{
    position: relative;
    right: -2px;
    top: -55px;
}
.estado{
    position: relative;
    right: -2px;
    top: -40px;
}
.cidade{
    position: relative;
    right: -300px;
    top: -22px;
}
.telefone1{
    position: relative;
    right: -2px;
    top: -45px;
}
.telefone2{
    position: relative;
    right: -320px;
    top: -68px;
}
.email{
    position: relative;
    right: -2px;
    top: -50px;
}
.msg{
    position: relative;
    right: -2px;
    top: -55px;
}
.formacao{
    position: relative;
    right: -2px;
    top: -55px;
}
.curso{
    position: relative;
    right: -2px;
    top: -10px;
}
.instituicao{
    position: relative;
    right: -2px;
    top: 3px;
}
.ano{
    position: relative;
    right: -2px;
    top: 10px;
}
.button{
    position: relative;
    right: -2px;
    top: 12px;
}

